.sign-up {
  width: 35rem;
  display: inline-block; /* To centralize */
  margin-top: 50px;
  border-radius: 25px;
  min-height: 500px;
  border: 2px solid #f3e5f5;
  background: white;
}

.sign-up form h4 {
  margin-top: 50px;
  font-weight: 500;
  color: #e57373;
}

.sign-up form .row {
  margin-bottom: 0 !important;
}

.sign-up form .row .col {
  padding: 0 0 0 0;
}

.sign-up form .row .col .first-name {
  margin-right: 15px;
}

.sign-up form .row .col .last-name {
  margin-left: 15px;
}

.sign-up .input-field {
  margin-left: 30px;
  margin-right: 30px;
}

.sign-up form .input-field button {
  margin-top: 40px;
  width: 130px;
}
