.sign-in {
  width: 35rem;
  display: inline-block; /* To centralize */
  margin-top: 50px;
  border-radius: 25px;
  min-height: 500px;
  border: 2px solid #f3e5f5;
  background: white;
}

.sign-in form h4 {
  margin-top: 100px;
  font-weight: 500;
  color: #e57373;
}

.sign-in .input-field {
  margin-left: 30px;
  margin-right: 30px;
}

.sign-in form .input-field button {
  margin-top: 40px;
  width: 130px;
}
