.contract-appeal-list li img {
  height: 60px !important;
  width: auto !important;
}
.review-contract-appeals .row {
  margin-top: 40px;
}

.contract-appeal-item {
  background: white;
  border-bottom: 1px solid #eeeeee;
}

/* Divide to 3 blocks */
.contract-appeal-item > div {
  display: inline-block;
}

/* Tags */
.contract-appeal-item > div:nth-child(4) {
  display: block;
  margin-left: 15px;
}

.contract-appeal-item > div:nth-child(4) .chip {
  background: #f48fb1;

  font-size: 12px;
  color: white;
  margin-bottom: 20px;
}

.contract-appeal-item .contract-appeal-item-first-block {
  margin-left: 15px;
  float: left;
  padding-top: 10px;
}

.contract-appeal-item .contract-appeal-item-second-block {
  width: 32vw;
}

.contract-appeal-item .contract-appeal-item-second-block h6 {
  margin-left: 15px;
}

.contract-appeal-item .contract-appeal-item-second-block p {
  margin-left: 15px;
}
.contract-appeal-item .contract-appeal-item-third-block {
  margin-right: 10px;
  margin-top: 10px !important;
}
.contract-appeal-item .contract-appeal-item-third-block > span {
  color: #757575;
}

.contract-appeal-target {
  border: 1px solid #efebe9;
  margin-top: 24px;
}
.contract-appeal-target > div:nth-child(1) {
  position: relative;
  background: #ffecb3;
}

.contract-appeal-target > div:nth-child(1) > i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #dd2c00;
  cursor: pointer;
}

.contract-appeal-target > div:nth-child(1) > h6 {
  color: #bf360c;
  margin-top: 0;
  padding-top: 13px;
}

.contract-appeal-target > div:nth-child(2) {
  background: white;
}

.contract-appeal-target > div:nth-child(2) > h6 {
  margin-top: 0;
  margin-left: 15px;
  padding-top: 12px;
  font-weight: 300;
}

.contract-appeal-target > div:nth-child(2) > h6 > a {
  color: #f4511e;
  font-weight: 500;
}

.contract-appeal-target > div:nth-child(2) > p {
  color: #ff7043;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 10px;
}

.contract-appeal-target > div:nth-child(2) > p > span {
  color: #757575;
}
