.edit-profile {
  margin-top: 30px;
}

.edit-profile .col:nth-child(2) {
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 6px -6px black;
  -moz-box-shadow: 0 3px 6px -6px black;
  box-shadow: 0 3px 6px -6px black;
}

.edit-profile .image-preview {
  background-color: #ffe5e5;
  position: relative;
  width: 30%;
  overflow: hidden;
  margin-right: 1em;
  margin-top: 1em;
  -webkit-box-shadow: 3px 3px 6px -6px black;
  -moz-box-shadow: 3px 3px 6px -6px black;
  box-shadow: 3px 3px 6px -6px black;
  border-radius: 7px;
}

.edit-profile .image-preview > div:first {
  position: absolute;
  top: 0px;
}

.edit-profile .image-preview-before::before {
  content: "";
  display: block;
  padding-top: 90%;
}

.edit-profile .image-preview div img {
  width: 100%;
  border-radius: 7px;
}

.edit-profile .my-width-60-p {
  width: 60% !important;
}

.edit-profile .my-width-30-p {
  width: 30% !important;
}

.edit-profile .image-preview div img::before {
  content: "";
  display: block;
  padding-top: 90%;
}
