/* Start user-prpfile-left-block*/
.user-profile-left-block {
  /* border: 1px solid #e8eaf6; */
  background-color: white;

  -webkit-box-shadow: 0 3px 6px -6px black;
  -moz-box-shadow: 0 3px 6px -6px black;
  box-shadow: 0 3px 6px -6px black;
}

.user-profile-left-block > div {
  background-color: #318c90;
  padding-bottom: 15px;
}

.user-profile-left-block img {
  margin-top: 0.5rem;
  width: 90%;
  border-radius: 50%;
  height: auto;
  border: 2px solid #95cccf;
}
.user-profile-left-block h5 {
  color: #536dfe;
  font-size: 2vw;
  margin-bottom: 0.5em;
}
.user-profile-left-block h6 {
  color: #212121;
  font-weight: 300;
  font-size: 1.2vw;
}

.user-profile-left-block h6:last-child {
  padding-bottom: 10px;
}
/* End .user-profile-left-block */

.user-profile {
  background-color: #fdfdfd;
  height: 40em;
  -webkit-box-shadow: 0 3px 6px -6px black;
  -moz-box-shadow: 0 3px 6px -6px black;
  box-shadow: 0 3px 6px -6px black;
}

.user-profile .user-profile-header {
  /* border-bottom: 1px solid #9e9e9e; */
  background-color: #198085;
  color: #ffffff;
}

.user-profile .user-profile-header h6 {
  font-weight: 300;
}

.user-profile .user-profile-header p {
  font-weight: 300;
  margin-bottom: 4px;
}
.user-profile .user-profile-header p:nth-child(2) {
  font-weight: 300;
  margin-bottom: 5px;
  margin-top: 0;
}

.user-profile .user-profile-details p {
  margin-left: 0;
}

.user-profile .user-profile-details h6 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.user-profile .user-profile-badges i:nth-child(1) {
  margin-right: 1rem;
  margin-left: 0;
}
.user-profile .user-profile-badges i {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  color: #37474f;
}
