.contract-appeal {
  display: inline-block;
  margin-top: 20px;
  background-color: white;
  padding-bottom: 30px;
  min-height: 75vh;
  -webkit-box-shadow: 0 3px 6px -6px black;
  -moz-box-shadow: 0 3px 6px -6px black;
  box-shadow: 0 3px 6px -6px black;
}

.contract-appeal h3 {
  margin-right: 25px;
  margin-left: 25px;
}
.contract-appeal h6 {
  margin-right: 25px;
  margin-left: 25px;
}
.contract-appeal p {
  margin-right: 25px;
  margin-left: 25px;
}

.contract-appeal h3 {
  margin-top: 20px;
}

.contract-appeal img {
  max-width: 100%;
}

.contract-appeal .tags div {
  display: inline-block;
}
