.contract-appeal-list li img {
  height: 60px !important;
  width: auto !important;
}

.contract-appeal-item {
  background: white;
  border-bottom: 1px solid #eeeeee;
}

/* Divide to 3 blocks */
.contract-appeal-item > div {
  display: inline-block;
}

/* Tags */
.contract-appeal-item > div:nth-child(4) {
  display: block;
  margin-left: 15px;
}

.contract-appeal-item > div:nth-child(4) .chip {
  background: #f48fb1;

  font-size: 12px;
  color: white;
  margin-bottom: 20px;
}

.contract-appeal-item .contract-appeal-item-first-block {
  margin-left: 15px;
  margin-top: 10px;
}

.contract-appeal-item .contract-appeal-item-second-block h6 {
  margin-left: 15px;
}
.contract-appeal-item .contract-appeal-item-second-block p {
  margin-left: 15px;
}
.contract-appeal-item .contract-appeal-item-third-block {
  margin-right: 10px;
  margin-top: 10px !important;
}
.contract-appeal-item .contract-appeal-item-third-block > span {
  color: #757575;
}
