.create-request {
  overflow: auto; /* to prevent margin collapse  */
  width: 60vw;
}

.create-request .row {
  margin-bottom: 0;
}

.create-request form {
  margin-top: 5rem;
  overflow: auto;
  border-radius: 30px;
  background-color: white;
  border: 1px solid #c5cae9;
}
.create-request form h5 {
  color: #ea514e;
  margin-top: 4rem;
  font-weight: 600;
  font-size: 2.2rem;
}
.create-request form .input-field {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Turn off padding of col */
.create-request form .row .col {
  padding: 0 !important;
}

.create-request form .row .input-field {
  margin-left: 2rem;
}

.create-request form .row .col:nth-child(2) {
  margin-top: 15px;
}

.create-request form .datepicker {
  max-width: 92%;
}

.create-request form .datepicker-date-display {
  background-color: #ef5350;
}

.create-request form .datepicker-table td.is-selected {
  background-color: #00bfa5;
}

.create-request form .confirmation-btns > button {
  color: #3f51b5 !important;
}

.create-request form .input-field .btn {
  background-color: #5350ef;
}

/* .create-request input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
div.chips:focus:not([readonly]) {
  border-color: #3f51b5;
  box-shadow: none;
} */

/*START chips */
.create-request form .chips.focus {
  border-bottom: 1px solid #3f51b5;
  box-shadow: none;
}

.create-request form .chips.focus {
  border-bottom: 1px solid #3f51b5;
  box-shadow: none;
}
.create-request form .chips .chip {
  color: white;
  background-color: #f8bbd0;
}
.create-request form .chips .chip:focus {
  /* background-color: #ffcdd2; */
  background-color: #e91e63;
}
/* END chips */
