.create-contract {
  overflow: auto; /* to prevent margin collapse  */
  /* max-width: 650px; */
  width: 75vh;
}

.create-contract .row {
  margin-bottom: 0;
}

.create-contract form {
  margin-top: 5rem;
  overflow: auto;
  border-radius: 30px;
  background-color: white;
  border: 1px solid #c5cae9;
}
.create-contract form h5 {
  color: #ea514e;
  margin-top: 4rem;
  font-weight: 600;
  font-size: 2.2rem;
}
.create-contract form .input-field {
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Turn off padding of col */
.create-contract form .row .col {
  padding: 0 !important;
}

.create-contract form .row .input-field {
  margin-left: 2rem;
}

.create-contract form .row .col:nth-child(2) {
  margin-top: 15px;
}

.create-contract form .datepicker {
  max-width: 80%;
  margin-right: 15px;
}

.create-contract form .datepicker-date-display {
  background-color: #ef5350;
}

.create-contract form .datepicker-table td.is-selected {
  background-color: #00bfa5;
}

.create-contract .collapsible {
  margin-top: 25px;
  /* max-width: 500px; */
}
