.main-dashboard {
  display: inline-block;
  margin-top: 15px;
}

.main-dashboard .divider {
  margin-right: 25px;
  margin-left: 25px;
}

.main-dashboard .dashboard-img {
  width: 80%;
}

.main-dashboard h4 {
  margin-right: 25px;
  margin-left: 25px;
}
.main-dashboard h5 {
  margin-right: 25px;
  margin-left: 25px;
}

.main-dashboard p {
  margin-right: 25px;
  margin-left: 25px;
}

.main-dashboard .section-2 {
  display: inline-block;
}

.main-dashboard .section-2 h4 {
  color: #e57373;
  font-weight: 400;
}
.main-dashboard .section-2 .divider {
  background-color: #a4d1fb;
  margin-top: 5em;
}

.main-dashboard .section-2 .s12 {
  margin-top: 25px;
}

.main-dashboard .section-2 img {
  width: 13rem;
  height: auto;
  margin-right: 25px;
  margin-left: 25px;
}
