.chat-incomming-msg {
  margin-top: 10px;
}

.chat-incomming-msg-img {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 15px;
  height: 50px;
}

.chat-incomming-msg-content-div {
  display: inline-block;
  width: 60%;
}

.chat-incomming-msg-username {
  color: #464646;
  font-size: 14px;
}

.chat-incomming-msg-text {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  display: block;
}

.chat-incomming-msg-date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin-left: 15px;
}
