.chat-block-type-msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.chat-block-type-msg > form > div {
  margin: 0 10px 0 10px;
}

.chat-block-type-msg > form > button {
  margin: 0 10px 15px 10px;

  display: inline-block;
  cursor: pointer;
}

.chat-content-block-top-links {
  background: #f8f8f8;
  border-bottom: 1px solid #cccccc;
  height: 35px;
}

.chat-content-block-top-links > div > div {
  display: inline-block;
}

.chat-content-block-top-links > div > div > button {
  color: #ababab !important;
}

.chat-content-block-top-links > div > div:nth-child(1) > a:hover {
  color: #26a69a !important;
}
.chat-content-block-top-links > div > div:nth-child(2) > button:hover {
  color: #d01307 !important;
}
