.contact-elem {
  height: 60px;
  border-bottom: 1px solid #f5f5f5;
}

.contact-elem:hover {
  cursor: pointer;
}

.contact-elem img {
  float: left;
  height: 50px;
  margin-left: 15px;
}
.contact-elem h6 {
  color: #464646;
  margin-left: 75px;
}
