@import url("https://fonts.googleapis.com/css?family=Eczar:400,500,700&display=swap");

.brand-logo h3 {
  display: inline-block;
  font-weight: 500;
  font-family: Eczar;
  margin-top: 12px;
  padding-right: 15px;
}
.brand-logo img {
  display: inline-block;
  height: 32px;
  margin-top: 17px;
}

.navbar-menu-dropdown > ul {
  height: auto;
  width: auto !important;
}

.navbar-menu-dropdown > ul > li {
  min-height: 35px;
}

.navbar-menu-dropdown > ul > li > a {
  padding: 5px 7px 5px 10px;
  text-align: left;
  font-size: 14px;
}

.navbar-menu-dropdown > ul > li > a > i {
  margin-right: 0px;
  font-size: 14px;
}
