.alert-box {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 65px;
  margin-left: 10%;
  margin-right: 10%;
  width: -webkit-fill-available;

  opacity: 0.95;
}
.alert-box .icon_style {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
